@model IEnumerable<TmntCardManager.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<h1>Картки фракції: @ViewBag.CardclassName</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.CardclassId" class="btn btn-success">Додати нову картку</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Зображення</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 <img src="@item.Imageurl" alt="@item.Name" style="max-height: 150px; border-radius: 10px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
