@model TmntCardManager.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Деталі користувача</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Role == "User")
            {
                <span class="badge bg-primary">Користувач</span>
            }
            else if (Model.Role == "Admin")
            {
                <span class="badge bg-danger">Адміністратор</span>
            }
            else
            {
                @Model.Role
            }
        </dd>
    </dl>
        <hr />
        <h4>Ігровий профіль</h4>

        @if (Model.Playerprofile != null)
        {
            <a asp-controller="Playerprofiles" asp-action="Details" asp-route-id="@Model.Playerprofile.Id" class="btn btn-primary">Відкрити ігровий профіль</a>
        }
        else
        {
            <p class="text-muted">Профіль ще не створено (станеться при першому вході).</p>
        }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
